<hr>
<footer class="container">
  <p>Copyright: © 2021, Jarek Zgoda. Wolne oprogramowanie na licencji BSD.</p>
  <div class="grid">
    <div class="center">
      <p><a href="/pages/about.html">O aplikacji</a></p>
    </div>
    <div class="center">
      <p><a href="/pages/contact.html">Kontakt</a></p>
    </div>
    <div class="center">
      <p><a href="/pages/privacy.html">Deklaracja prywatności</a></p>
    </div>
  </div>
</footer>
